{{>head}}

{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Contactenos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ex magni aliquam, vitae quidem suscipit consectetur. Eligendi at cumque error, facere dolorum, ad possimus cupiditate beatae, maiores non ipsa minus.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/2b.png" class="img-thumbnail" alt="2b.png">
    </div>
</div>

{{> footer}}